snippet mod
	-module(${1}).${2}
snippet exp
	-export([${1}]).${2}
snippet fun
	${1}(${2}) ->
		${3}
snippet rec
	receive
		${1}
	end
snippet spawn
	spawn(${1}, ${2}, [${3}])${4}
snippet reg
	register(${1}, spawn(${2}, ${3}, [${4}]))${5}
snippet form
	io:format("${1}~n", [${2}])${3}
