snippet facb
	FactoryGirl.build(:${1}, ${2})${3}
snippet facd
	FactoryGirl.define :${1:model} do |f|
	  ${2}
	end
snippet facn
	FactoryGirl.next(:${1:sequence-name})${2}
snippet fac
	factory :${1} do
		${2}
	end
#	FactoryGirl(:${1}, ${2})${3}
snippet facs
	FactoryGirl.sequence :${1:sequence-name} do |${2:m}|
		${3}
	end
	${4}
